@tailwind base;
@tailwind components;
@tailwind utilities;

#asciiOutput {
  font-family: monospace;
  line-height: 1;
  white-space: pre;
  font-size: 6px; /* Default for mobile */
}

@media (min-width: 640px) {
  #asciiOutput {
    font-size: 11px; /* Default for desktop */
  }
}

@media (max-width: 640px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
  }

  header {
    padding-left: 3rem; /* Make room for the toggle button */
  }
}